    html{
        width: 100%;
        height: 100%;
        font-family: Outfit;
        line-height: 25px;
    }
    
    body {
        background-color: hsl(217, 54%, 11%);
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
    body .body-mittig {
        width: 60%;
        margin-left: 40%;
        height: 100%;
        text-align: left;
        margin-top: 10%;
    }

    body .text-mittig {
        width: 20rem;
        background-color: hsl(216, 50%, 16%);
        height: 563px;
        border-radius: 10px;
    }

    .bild{
        position: relative;
    }

    .bild img{
        margin-top: 20px;
        border-radius: 10px;
        height: 280px;
        width: 280px;

    }
    
    .overlay {
        position: absolute;
        margin-top: 20px;
        border-radius: 10px;
        height: 280px;
        width: 280px;
        opacity: 0;
        transition: .5s ease;
        background-color: hsl(178, 100%, 50%);
      }
      
      .overlay_bild {
        margin-top: 20px;
        position: absolute;
        opacity: 0;
        transition: .5s ease;
      }
      

    .bild:hover .overlay{
        cursor:pointer;
        opacity: 0.5;
    }
    .bild:hover .overlay_bild{
        cursor:pointer;
        opacity: 1;
    }

    body .bild{
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    body p{
        margin: 20px;
        color: hsl(215, 51%, 70%);
        font-weight: 100;
    }

    h3 {
        margin: 20px;
        color: hsl(0, 0%, 100%);
        line-height: 35px;
        font-weight: 100;
    }

    h3:hover {
        cursor: pointer;
        transition: .5s ease;
        color: hsl(178, 100%, 50%);
    }


    .eth-text ul {
        list-style-type:none;
        margin: 20px;
        padding: 0;
    }
    .eth-text li span {
        display:inline-block;
        width:100px;
    }

    .eth-text span{
        marker: none;
    }

    .eth-text .label{
        color: hsl(178, 100%, 50%);
    }

    .eth-text .label2{
        color: hsl(215, 51%, 70%);
        text-align: right;
        width: 60%;
    }

    hr {
        margin: 20px;
        border: 0;
        border-top: 1px solid hsl(215, 32%, 27%);; 
    }

    .avatar  {
        margin: 20px;
        padding: 0;
        text-align: left;
        marker: none;
        
    }

    .avatar img{
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    
    .avatar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        marker: none;
    }

    .avatar li span {
        display:inline-block;
        vertical-align: top;
    }

    .avatar .label3 {
        color: hsl(215, 51%, 70%);

    }

    .avatar .label4 {
        color: hsl(0, 0%, 100%)
    }

    .label4:hover{
        cursor: pointer;
        transition: .5s ease;
        color: hsl(178, 100%, 50%);
    }

    .attribution{
        text-align: end;
        margin: 0;
        padding: 0;

    }
